<?xml version="1.0"?>
<config>
    <modules>
        <SNH_CheckoutHeaders>
            <version>0.1.0</version>
        </SNH_CheckoutHeaders>
    </modules>
    <frontend>
        <layout>
            <updates>
                <checkoutheaders>
                    <file>checkoutheaders.xml</file>
                </checkoutheaders>
            </updates>
        </layout>
    </frontend>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <snh_settings>
                                            <title>SNH Settings</title>
                                        </snh_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

   <default>
        <snh_settings>
            <messages>
                <removeheaders_enabled>0</removeheaders_enabled>
            </messages>
        </snh_settings>
    </default>

</config>
